div.chat_item(class=chatItem.active)
    div.chat_item__logo
        - avatar = {src: chatItem.avatar, size: "40px"}
        include ../../../../components/avatar/avatar.pug
    div.chat_item__main
        div.chat_item__name #{chatItem.chatName}
        div.chat_item__message #{chatItem.chatMessage}
    div.chat_item__info
        div.chat_item__date_time #{chatItem.dateTime}
        if chatItem.notRead !== "0"
            div.chat_item__not_read #{chatItem.notRead}