div(class=styles.left)
    | !{chatList}
div(class=styles.right)
    if chatMessages
        | !{chatMessages}
    else
        div(class=styles.notSelected)
            | Выберите чат чтобы отправить сообщение