div(class=layouts.styles.Profile.wrapper)
    div(class=layouts.styles.Profile.head)
        div(class=layouts.styles.Profile.left)
            block profile-head-left
        div(class=layouts.styles.Profile.avatar)
            block profile-head-avatar
        div(class=layouts.styles.Profile.right)
            block profile-head-right
    div(class=layouts.styles.Profile.body)
        block profile-body
    div(class=layouts.styles.Profile.footer)
        block profile-footer