div(class=styles.user)
    | #{author.login}
if message.file
    div(class=styles.image)
        img(src=message.file.path)
else if message.content
    div(class=styles.text)
        | #{message.id} -
        | #{message.content}
div(class=styles.info)
    if icon
        | !{icon}
    time(class=styles.time)
        | #{message.time}