- messageClass = ""
if message.isMy
    - messageClass = "message_my"
if message.messageImage
    - messageClass += " message_image"

div.message(class=messageClass)
    div.message__login #{message.login}
    if message.messageText
        div.message__text #{message.messageText}
    if message.messageImage
        div.message__image
            img(src=message.messageImage)
    div.message__info
        case message.status
            when "isRead"
                - icon = {type: "done-all", size: "10px", class: "light"}
                include ../../../../components/icon/icon.pug
            when "isSend"
                - icon = {type: "done", size: "10px", class: "light"}
                include ../../../../components/icon/icon.pug
        div.message__time #{message.time}