div(class=styles.profile)
    div(class=styles.avatar)
        | !{chatImage}
    div(class=styles.name)
        | #{chatList[openProfile].title}
    div(class=styles['user-list'])
        each user in users
            | !{user}
    div(class=styles['add-user'])
        | !{searchUser}